<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<h1>Редактирование пользователя!</h1>

<form th:action="@{/admin/users/{id}(id=${user.id})}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    Имя: <input type="text" th:field="*{name}" pattern="[A-Za-zА-Яа-я]+"><br>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></span>
    <br>
    Фамилия: <input type="text" th:field="*{lastName}" pattern="[A-Za-zА-Яа-я]+"><br>
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: red"></span>
    <br>
    Возраст: <input type="number" th:field="*{age}"><br>
    <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red"></span>
    <br>
    Логин: <input type="text" th:field="*{username}"><br>
    <br>
    Пароль: <input type="password" th:field="*{password}"><br>
    <br>
    Роли:<br>
    <div th:each="role : ${allRoles}">
        <input type="checkbox" name="roleIds"
               th:value="${role.id}"
               th:checked="${user.roleIds != null && user.roleIds.contains(role.id)}">
        <label th:text="${role.name}"></label>
    </div>
    <br>
    <input type="submit" value="Сохранить!">
</form>
<br>
<a th:href="@{/admin/users}">Назад к списку</a>
</body>
</html>